@import "custom";
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@font-face {
font-family: "Asfalto";
src: url("Asfalto.woff2");
}
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Asfalto", sans-serif;

}
.trasparent{
    background-color: rgb(255,255,255); opacity: 0.8;
    box-shadow: 5px 5px 10px -1px #000000;
}
.navBar-width{
    width: 22vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.menu{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20vw;
}
.nav-buttons{
  align-self: center;
  width: 75%;
}
.burger-menu{
  display: none;
}
.logo{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 20vh;
  width: 20vw;
}
@media(max-width:1000px){
  .navBar-width{
    width: 25vw;
  }
  
}
@media(max-width:800px){
  .menu-responsive{
      flex-direction: column;
  }
  .menu{
      display: none;
  }
  .burger-menu{
    display: flex;
    height: 10vh;
  }
  .logo{
    height: 7vh;
  }
  .navBar-width{
      display: none;
  }
}
@media(max-width:500px){
  .menu-responsive{
    flex-direction: column;
}
.menu{
    display: none;
}
.burger-menu{
  display: flex;
  height: 10vh;
}
.logo{
  height: 7vh;
}
.navBar-width{
  display: none;

}
}
.color-white{
    color: white;
    margin-top: 20px;
}

.banner-sm-home{
    height: 25vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-sm-home:hover{
    transition: transform 2s ease-in-out;
    animation: movement 5s infinite linear alternate;
}
.banner-md-home{
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-md-home:hover{
    transition: transform 2s ease-in-out;
    animation: movement 5s infinite linear alternate;
}
.banner-lg-home{
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-lg-home:hover{
    transition: transform 2s ease-in-out;
    animation: movement 5s infinite linear alternate;
}
// .menu {
//   text-decoration: none;
//   background-image: linear-gradient(#222b40, #222b40),
//     linear-gradient(white, white),
//     linear-gradient(white, white);
//   background-size: 20px 2px, 100% 2px, 0 2px;
//   background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
//   background-repeat: no-repeat;
//   transition: background-size 0.5s linear, background-position 0.5s linear;
//     font-size: 30px;
//     color: white;
// }

// .menu span:hover{
//     background-size: 20px 2px, 0 2px, 100% 2px;
//     background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
//     color: white;
// }
.rd{
    font-size: 35px;
    color:white
}
.rd:hover{
    color: rgb(255,255,255); opacity: 0.8;
    font-size: 37px;
}
.cartIcono{
    font-size: 35px;
    color:white
}
@keyframes movement {
    from {
      background-position: center left;
    }
    to {
      background-position: center right;
    }
  }
.userImg{
    box-shadow: 2px 2px 2px rgba(14, 14, 14, 0.555);
    width: 50px;
    height: 50px;
    border-radius: 15vw;
}
.img-prev{
    width: 200px;
    height: 200px;
}

//Burger Menu
/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 30px;
    height: 30px;
    right: 3vw;
    top: 2vh;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: white;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: whitesmoke;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: white;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    top: 0;
  }
  
  /* General sidebar styles */
  .bm-menu {
    font-size: 1.15em;
    display: flex;
    justify-content: center;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #867575;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0 0 0;
    background-color: #3e4444;
  }
  
  /* Individual item */
  .bm-item {
    text-align: center;
    width: 75%;
    display: flex;
    justify-content: space-between;
    font-family: "Pacifico", cursive;
    color: black;
    outline: none;
    font-size: 32px;
    margin-left: 1rem;
    background-color: #3e4444;
    width: 90%;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  
  p {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
  }
  .userLinkBurger {
    margin-top: 2vh;
    margin-bottom: 1vh;
    margin-right: 1vw;
    margin-left: 1vw;
    display: flex;
  }
  
  .userLinkBurger h6 {
    margin-left: 1vw;
    margin-top: 2vh;
    color: white;
  }
  
  .sideBarTitle {
    margin: 0;
    display: flex !important;
    width: 100%;
    border-bottom: 1px solid grey;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    margin-bottom: 1rem;
    color: white;
  }
  
  .sideBarTitle > h2 {
    font-size: 48px;
  }
  
  .sideBarTitle:hover {
    cursor: default;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #3e4444;
    color: white;
    height: 5rem;
    font-size: 32px;
    width: 100%;
  }
  
  .menu-item:hover {
    color: #82b74b;
  }
  
  .optionMenu {
    display: flex;
    align-items: flex-end;
    font-family: "Nunito Sans", sans-serif;
    padding-left: 1rem;
    font-size: 18px;
    text-align: left;
  }
  
  .iconMenu {
    display: flex;
  }
  
  nav > a {
    color: black !important;
  }
  
  @media (min-width: 1200px) {
    .bm-burger-button {
      display: none;
    }
  }
  
  @media (max-width: 800px) {
    .userLinkBurger {
      margin-top: 2vh;
      margin-bottom: 1vh;
      margin-right: 1vw;
      margin-left: 2vw;
      display: flex;
    }
  
    .userLinkBurger h6 {
      margin-left: 1vw;
      margin-top: 2vh;
      color: white;
    }
  }
  
  @media (max-width: 500px) {
    .logOutIconBurger {
      margin-left: 4.7vw;
    }
    .userLinkBurger {
      margin-top: 2vh;
      margin-bottom: 1vh;
      margin-right: 1vw;
      margin-left: 3vw;
      display: flex;
    }
  
    .userLinkBurger h6 {
      margin-left: 2vw;
      margin-top: 2vh;
      color: white;
    }
    .bm-menu-wrap {
      width: 100% !important;
    }
  }
// *****************
// ESTILO MENU
.addCart{
    padding: 1vh;
    margin: 0;
    font-size:3.2rem;
    background-color: #474747;
    color:black;
    height: auto;
    border-radius: 100%;
    border:1px solid black;
}
.addCart:hover{
    color:goldenrod;
    cursor: pointer;
}
.btnSubCategory button{
    border:none;
    margin:0;
}
.btnSubCategory button:hover{
    background-color: #ed1650;
}
